<div>
    <p>Choose your move</p>
    <form action="/move" method="POST">
      <input type="radio" id="rock" name="move" value="rock">
      <label for="rock">Rock</label><br>
      <input type="radio" id="paper" name="move" value="paper">
      <label for="paper">Paper</label><br>
      <input type="radio" id="scissors" name="move" value="scissors">
      <label for="scissors">Scissors</label>
      <br/>
      <input type="submit" value="Play">
    </form>
</div>