<!-- Layout is the default file in sinatra to be used as 
“wrapping” templtes-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <h1>Game</h1>
    <%= yield %>
  </body>
</html>